<?xml version="1.0" encoding="UTF-8"?>
<adminTools>
  <admins>
    {% for admin in steam_7days_server_admins %}
    <admin steamID="{{ admin.id }}" permission_level="{{ admin.level }}" />
    {% endfor %}
  </admins>

  <permissions>
    {% for perm in steam_7days_permissions %}
    <permission cmd="{{ perm.command }}" permission_level="{{ perm.level }}" />
    {% endfor %}
  </permissions>
  <whitelist>
  {% if steam_7days_whitelist|length > 0 %}
    {% for user in steam_7days_whitelist %}
    <whitelisted steamID="{{ user }}" />
    {% endfor %}
  {% endif %}
  </whitelist>
  <blacklist>
  {% if steam_7days_blacklist|length > 0 %}
    {% for user in steam_7days_blacklist %}
    <blacklisted steamID="{{ user.id }}" unbandate="{{ user.unbandate }}" />
    {% endfor %}
  {% endif %}
  </blacklist>
</adminTools>
